html, body { 
  margin:0; 
  padding:0; 
  overflow:hidden; 
  font-family: sans-serif;
}

svg {
  position: fixed;
  top: 30px;
  left: 0px;
  height: 100%;
  width: 100%;
}

text {
  font-size: 6px;
  font-family: sans-serif;
}

.vertexLabalA {
  fill: blue;
}

.vertexLabelB {
  fill: red;
}

.vertexLabelC {
  fill: green;
}

#levelInput {
  width: 75px;
}
