body {
  font-family: roboto, arial;
}

.lines {
  display:          block;
  float:            left;
  padding:          5px 5px 5px 5px; 
  border:           1px solid #ccc;
  width:            80%;
  font-size:        .7em;
  font-family:      monaco;
}

.numbers {
  color:            red;
  display:          block;
  float:            left;
  text-align:       right;
  background-color: #f4f4f4;
  border:           1px solid #ccc;
  padding:          5px 5px 5px 15px; 
  font-size:        .7em;
  font-family:      monaco;
}

.comment {
}

.spacer {
  display:          inline;
}

.wrapper {
  float:            right;
  display:          block;
  width:            100%;
}

pre {
  font-size:        .7em;
  font-family:      monaco;
  margin:           0 0 0 0;
}

kbd {
  border:           1px solid #666;
  padding:          0px 2px 0px 2px;
  font-size:        1em;
  font-family:      monaco;
}

steelblue {
  color:            steelblue;
}


