body {
  font-family: roboto, arial;
}

#lines {
  display:          block;
  float:            left;
  padding:          5px 5px 5px 5px; 
  border:           1px solid #ccc;
  width:            80%;
  font-size:        .7em;
  font-family:      monaco;
}

#numbers {
  color:            red;
  display:          block;
  float:            left;
  text-align:       right;
  background-color: #f4f4f4;
  border:           1px solid #ccc;
  padding:          5px 5px 5px 15px; 
  font-size:        .7em;
  font-family:      monaco;
}

#word {
}

kbd {  
  border: 1px solid #666666;  
  border-radius: 4px;  
  padding: 1px 3px;  
  margin: 2px;  
  color: #dddddd;  
  text-decoration: none;
  background-color:#444444;
} 

