p { 
  font-family: roboto, arial; 
}

div {
  font-family: roboto, arial;
}
code {
  background-color: #eee;
  border:           1px solid #999;
  padding:          2px 5px 2px 5px; 
  line-height:      140%;
  font-size:        .7em;
  font-family:      monaco;
}


pre code {
  background-color: #fafafa;
  border:           1px solid #999;
  display:          block;
  padding:          5px 5px 5px 20px; 
  line-height:      140%;
  font-size:        .7em;
  font-family:      monaco;
}

#lines {
  display:          block;
  float:            left;
  padding:          5px 5px 5px 5px; 
  border:           1px solid #fff;
}

#numbers {
  color:            red;
  display:          block;
  float:            left;
  text-align:       right;
  background-color: #eee;
  border:           1px solid #999;
  padding:          5px 5px 5px 15px; 
}

#word {
}

kbd {  
  border: 1px solid #666666;  
  border-radius: 4px;  
  padding: 1px 3px;  
  margin: 2px;  
  color: #dddddd;  
  text-decoration: none;
  background-color:#444444;
} 

