body {
  font-family: arial;
}

.snippets {
  padding:          5px 5px 5px 5px; 
  color:            white;
  width:            80%;
  background-color: black;
}

.lineNumbers {
  padding:          5px 5px 5px 15px; 
  width:            15px;
  color:            red;
  text-align:       right;
  background-color: #f4f4f4;
}

.note {
  width:            100%;
  display:          block;
  padding-top:      20px;
  padding-bottom:   20px;
  float:            right;
}

.wrapper {
  float:            right;
  display:          block;
  width:            100%;
}

.code {
  display:          none;
}

var {
  border:           0px solid #ccc;
  font-size:        .9em;     
  font-family:      monaco;   
  color:            darkslategray;
}

pre {
  border:           0px solid #ccc;
  display:          block;
  float:            left;
  font-size:        .7em;     
  font-family:      monaco;   
  margin:           0 0 0 0;
}

code {
  border:           0px solid #ccc;
  font-size:        .9em;     
  font-family:      monaco;   
  color:            darkslategray;
}


kbd {  
  border: 1px solid #666666;  
  border-radius: 4px;  
  padding: 3px 1px 1px 1px;  
  margin: 2px;  
  color: #dddddd;  
  text-decoration: none;
  background-color:#444444;
} 

steelblue {
  color:            steelblue;
}

yellow {
  color:            yellow;
}

.horizontalRule {
  float:            left;
  display:          block;
  background-color: #cccccc;
  margin-left:      1%;
  width:            85%;
  height:           2px;*/

}
