body {
  font-size: 12px;
  font-family: "Monaco", "sans-serif";
}
svg {
  font-family: "Monaco", "sans-serif";
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

#popup {
  border-radius: 4px;  
  border: 1px solid #FFF;
  font-size: 10px;
  margin:  5px 0px 5px 0px;
  padding: 2px 5px 0px 5px;
  height:  42px; 
  width:   max-content;
/*  float: left; */

}

.button {  
  font-size: 12px;
  border: 1px solid #666666;  
  border-radius: 4px;  
  padding: 3px 1px 1px 1px;  
  margin: 2px;  
  color: #dddddd;  
  text-decoration: none;
  background-color:#444444;
} 

